@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
html {
  background: #26262B;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

body {
    min-height: 100vh;
    margin: 0;
    background: #282B30;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}



.login_button {
    text-decoration: none;
    display: inline-block;
    line-height: 35px;
    padding: 0 21px;
    background: #7289DA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: background-color .2s linear;
}

.login_button:hover {
    background: #697ec4;
}

.navbar {
    display: block;
    background: #202225;
    font-size: 24px;
    color: white;
    line-height: 8px;
    height: 48px;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 300;
    padding: none;
    margin: none;
}

.navbar_button {
    text-decoration: none;
    display: inline-block;
    background: #202225;
    font-size: 16px;
    color: white;
    height: 48px;
    border: none;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    transition: color .1s linear;
}

.navbar_button_active {
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    background: #202225;
    font-size: 16px;
    color: white;
    height: 48px;
    border: none;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    border-bottom: 2px solid #7289DA;
    transition: color .1s linear;
}

.navbar_button_active:hover {
    color: #33AAB3;
}

.navbar_button:hover {
    color: #33AAB3;
}


.usercard_content {
    position: absolute;
    right: -16px;
    display: inline-block;
    background-color: #18191C;
    min-width: 384px;
    max-width: 384px;
    min-height: 64px;
    max-height: 64px;
    border-radius: 5px;
    z-index: 1;
   
}






.usercard_separator {
    display: block;
    float: left;
    right: 0px;
    
    width: 288px;
    height: 56px;
    margin-left: 8px;
    margin-top: 4px;
    line-height: 20px;
    font-size: 10px;
    color: lightgray;
    text-align: left;
}

.usercard_separator span {
    display: inline-block;
    margin-top: 0;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: white;
}

.usercard_logout {
    box-sizing: border-box;
    display: block;
    float: right;
    width: 80px;
    height: 28px;
    margin-right: 8px;
    margin-top: 18px;
    font-weight: 300;
    color: red;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    transition: color .1s linear;
}

.usercard_logout:hover {
    color: lightcoral;
    border-bottom: thin solid lightcoral;
}


.usercard_button {
    background-color: #202225;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.page {
    display: inline-block;
    width: calc(100% - 256px - 224px);
    margin-left: 256px;
    vertical-align: top;

    color: lightgray;
}

.page_left {
    display: inline-block;
    width: 256px;
    
}
.avatar {
    display: 'inline-block';
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    float: left;
    font-size: 16;
    text-align: center;
    margin: none;
    background-color: #282B30;
    color: white;
}

.guild {
    box-sizing: border-box;
    display: 'inline-block';
    background-color: #202225;
    width: 240px;
    height: 40px;
    border-radius: 4px;
    text-align: left;
    font-size: 14px;
    line-height: 40px;
    margin: 2px;
    padding: 0px;
    vertical-align: middle;
    color: gray;
}

.guild:hover {
    color: white;
    border-bottom: 2px solid #7289DA
}

.selected_guild {
    display: 'inline-block';
    background-color: #7289DA;
    width: 240px;
    height: 40px;
    border-radius: 4px;
    text-align: left;
    font-size: 14px;
    line-height: 40px;
    margin: 2px;
    padding: 0px;
    vertical-align: middle;
    color: white;
}

.selected_guild:hover {
    background-color: #697ec4;
}

.selected_guild p {
    display: 'inline-block';
    margin-top: 16px;
    font-size: 14px;
}

.selected_guild span {
    margin-left: 4px;
}

.guild p {
    display: 'inline-block';
    margin-top: 16px;
    font-size: 14px;
}

.guild span {
    margin-left: 4px;
}

.manageui {
    position: static;
    background-color: #36393F;
    width: calc(100% + 222px);
    margin-top: 0px;
    color: lightgray;
    font-size: 16px;
    display: block;
}

.manageui_title {
    color: white;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Roboto Condensed'
}

.manageui_subtitle {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.manageui_content {
    color: lightgray;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    
}

.manageui_content_message {
    background-color: #202225;
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    min-width: 100%;
    display: block;
    max-width: 100%;
    width: 100%;
    margin-top: 4px;
    padding-top: 4px;
    padding-left: 0px;
    padding-bottom: 8px;
    border-radius: 5px;
}

.manageui_content_message_right {
    text-align: right;
    float: right;
    margin-right: 10px;
    color: gray;
    font-size: 12px;
    line-height: 16px;
}

.manageui_content_message_author {
    line-height: 40px;
    margin-left: 10px;
    color: lightgray;
}
.manageui_content_message_author_internal {
    margin-left: 40px;
    font-size: 16px;
    
    color: white;
}

.manageui_content_message_author_internal span {
    color: gray;
}
.manageui_content_message_contents {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    line-height: 100%;
    font-size: 14px;
    background-color: #282B30;
}

.manageui_content_message_modify {
    padding: 10px;
    line-height: 35px;
    font-size: 16px;
}

.manageui_content_message_modify_body {
    font-size: 14px;
    line-height: 100%;
    margin-top: 10px;
}

.manageui_content_message_role {
    font-size: 24px;
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;
    background-color: #282B30;
    line-height: 100%;
}

.manageui_content_message_role_details {
    font-size: 10px;
    color: gray;
    text-align: right;
    float: right;
    padding: 0px;
    line-height: 100%;
}
.manageui_content_message_role span {
    vertical-align: middle;
}

.manageui_content_message_role_body { 
    color: lightgray;
    font-size: 14px;
}

.manageui_content_message_role_edit_button {
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    padding: 0 21px;
    background: #7289DA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: background-color .2s linear;
}

.manageui_content_message_role_edit_button:hover {
    background: #697ec4;
}

.manageui_content_message_role_delete_button {
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    padding: 0 21px;
    background: #F04747;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    float: right;
    transition: background-color .2s linear;
}

.manageui_content_message_role_delete_button:hover {
    background: #A33030;
}

.manageui_content_message_role_cancel_button {
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    padding: 0 21px;
    background: #7289DA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    float: right;
    transition: background-color .2s linear;
}

.manageui_content_message_role_cancel_button:hover {
    background: #697ec4;
}
.red_button {
    text-decoration: none;
    display: inline-block;
    line-height: 35px;
    padding: 0 21px;
    background: #F04747;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    float: right;
    transition: background-color .2s linear;
}

.red_button:hover {
    background: #A33030;
}

.red_text_button {
    box-sizing: border-box;
    display: block;
    float: right;
    height: 28px;
    padding: 0 16px;
    margin-right: 0px;
    margin-top: 0px;
    font-weight: 300;
    color: #F04747;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    transition: color .1s linear;
    cursor: pointer;
}

.red_text_button:hover {
    color: lightcoral;
    border-bottom: thin solid lightcoral;
}

.discline {
    width: 100%;
    border-color: #7289DA;
    border: 2px solid #7289DA;
    margin: auto;
    margin-top: 2px;

}
.manageui_create_reaction_modal {
    position: absolute;
    z-index: 2;
    width: 50vw;
    height: 50vh;
    left: 25vw;
    top: 25vh;
    background: #282B30;
    border-radius: 5px;
    border: 1px solid #7289DA;
    filter: blur(0);
}

.manageui_create_reaction_modal_contents {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.reaction_modal_title {
    padding: 5px;
    font-size: 20px;
}

.reaction_modal_body {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: calc(100% - 20px);
    height: calc(100% - 55px);
    padding: 5px;
    background-color: #202225;
    font-size: 12px;
    color: lightgray;
    line-height: 24px;
}

.reaction_modal_subtitle {
    font-size: 14px;
    color: white;
    line-height: 14px;
    margin-right: 10px;
}

.reaction_modal_active {
    font-size: 14px;
    color: #33AAB3;
    border-bottom: 1px solid #33AAb3;
    cursor: pointer;
    line-height: 14px;
    padding: 0 10px;
    margin: 10px;
}

.reaction_modal_textbut {
    font-size: 24px;
    cursor: pointer;
    color: gray;
    transition: color .1s linear;
    line-height: 100%;
}

.reaction_modal_textbut:hover {
    
    color: #33AAB3;
    border-bottom: 1px solid #33AAB3;
}

.reaction_modal_textarea {
    width: calc(100% - 5px);
    border: 5px;
    height: 14px;
    background-color: #282B30;
    color: lightgray;
    resize: none;
    overflow: hidden;
}

.reaction_modal_messagepreview {
    width: 100%;
    height: calc(50vh - 184px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #282B30;
    border-radius: 5px;
}
.reaction_modal_messagepreview_contents {
    padding: 10px;
    font-size: 14px;
    vertical-align: middle;
    filter: blur(0);
}

.manageui_delete_message_button {
    text-decoration: none;
    display: inline-block;
    line-height: 35px;
    
    margin-right: 10px;
    padding: 0 21px;
    background: #F04747;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    float: right;
    transition: background-color .2s linear;
    vertical-align: middle;
}

.manageui_delete_message_button:hover {
    background: #A33030;
}

.manageui_cancel_message_button {
    text-decoration: none;
    display: inline-block;
    line-height: 35px;
    
    margin-right: 10px;
    padding: 0 21px;
    background: #7289DA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    float: right;
    transition: background-color .2s linear;
    vertical-align: middle;
}

.manageui_cancel_message_button:hover {
    background: #697ec4;
}
.reaction_drop {
    position: absolute;
    background-color: #202225;
    border-radius: 5px;
    margin-left: 35px;
    border: 1px solid #697ec4;
    padding: 5px;
    color: gray;
    font-size: 24px;
}
.reaction_drop_content {
    width: auto;
    transition: color .1s linear;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: 3px;
    font-size: 14px;
}

.reaction_drop_content:hover {
    color: #33AAB3;
    border-bottom: 1px solid #33AAB3;
}

.emoji_drop {
    position: absolute;
    background-color: #202225;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #697ec4;
}
.emoji {
    width: 28px;
    height: 28px;
    margin: 1px;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.emoji:hover {
    margin: 0px;
    border: 1px solid #7289DA;
}

.reaction_placeholder {
    font-size: 24px;
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;
    background-color: #282B30;
    line-height: 100%;
    border: 1px solid #F04747;
}

.reaction_placeholder_body {
    font-size: 14px;
    color: lightgray;
    text-align: center;
}